h2{
    color:blueviolet; font-family: "Courier New" , Courier, monospace; 
padding:5px;
margin: 10px;
Margin-bottom: 15px;


}
div{
    border: 2px solid yellow;
    border-radius: 15px;
    padding-block-start: 5px;
    padding-block-end: 10px;
   

    
}

img{
     box-shadow: 44px 44px 44px yellowgreen;
margin: 15px
}
    #spp{ border:10px solid green;
         box-shadow: 30px 30px 30px slateblue;

    }
    state{}


